.content {
	column(1)
	background-color: $background !important;
	
	.left {
		col(15/24)
		margin-bottom:35px;
		background: $background;
		
		@media(max-width:700px) {
			col(1)
		}
	}
	
	.right {
		col(9/24)
		
		background: $background;
		& > div {
			margin-bottom:35px;
		}
		
		@media(max-width:700px) {
			col(1)
		}
	}
}

