.news {
	background-color: white !important;
	margin-bottom:35px;

	&-entry-header {
		padding: 5% 7.5% 0;
		.news-logo {
			float:left;
			margin-right:20px;
			
			&>img {
				height: 70px;
				width:70px;
			}
		}

		.news-name {
			font-size: 1.75rem;
			cursor:pointer;
			color: rgb(68, 68, 68);
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			line-weight:1.3;
			
			a {
				text-decoration: none;
				color: $grey;
				&:hover {
					color: $blue;
				}
			}
		}
		


		.news-info {
			clear:both;
			margin-top: 10px;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			height:22px;
			
			& > div {
				display: inline-block;
				margin-right:10px;
				font-size: 100%;
			}
			

			.news-date {
				color:#aaa;
			}

			.news-features {
				color: #444;
			}

			.news-comments {
				color: #aaa;
			}
		}
	}


	&-image {
		position: relative;
		margin-top: 5%;
		
		& > img {
			width: 100%;
		}
	}

	&-description {
		padding: 5% 7.5%;
		color:#555;
		font-size: 1.1rem;
	}


	&-bottom {
		list-style:none;
		margin:0;
		padding: 0;
		float: right;
		
		
		& > li {
			display:inline-block;
			margin-left:-4px;
			cursor: pointer;
			color: white;
			&::after {
				clear:both;
			}
			padding: 10px 0;
		}
	

		.news-share {
			background-color: $grey;
			text-align:center;
			padding: 10px 13px;
			
			&:hover {
				background-color: $blue;
			}
		}
		.news-readmore {
			text-decoration: none;
			color: white;
			font-weight: 700;
			background-color: $blue;
			padding: 10px 20px;
			text-transform: uppercase;
			
			&:hover {
				background-color: $grey;
			}
		}
	}
	
	.spacer {
		clear:both;
	}

}
