.content {
	background-color: $background !important;
	
	.left {
		margin-bottom:35px;
		background: $background;
	}
	
	.right {
		background: $background;
		& > div {
			margin-bottom:35px;
		}
	}
}

