.outer {
	center(1000px);
	
	@media (max-width: 700px) {
		center(400px);
	}
	
	@media (min-width:700px) and (max-width:1100px) {
		center(680px);
	}

	.header {
		col(1)
	}
	
	.slider {
		col(1)
	}
	
	.content {
		col(1)
		
		.left {
			col(15/24)
			@media(max-width:700px) {
				col(1)
			}
		}
		
		.right {
			col(9/24)
			@media(max-width:700px) {
				col(1)
			}
		}
	}


	.footer {
		col(1)
	}
}