.header {
	height:60px;
	margin-top:35px;
	background-color:$grey !important;
	margin-bottom:35px
	
	&-title {
		float: left;
		margin-left: 25px;
		color:white;
		font-size: 3.2rem;
	}

	a {
		text-decoration: none;
		color: white;
	}
	
	&-navbar {
		float:right;
		height:100%;
		list-style:none;
		margin: 0;
		
		.header-item {
			float:left;
			font-size:13px;
			font-weight:700;
			cursor: pointer;
			padding: 22px 22px;
			color:white;
			position: relative;
			text-transform: uppercase;
			
				
			&-drop {
				clear:both;
				list-style: none;
				padding: 22px 22px;
				position:absolute;
				background-color: $blue;
				top: 60px;
				display:none;
				z-index: 11111;
				left: 0;
				width: 130px;
				
				li {
					margin-bottom :10px;
				}
				
				li:last-child {
					margin-bottom :0;
				}

				.pages {
					font-size: 14px;
				}
			}
			

			&:hover {
				background-color: $blue;
			}
			&:hover .header-item-drop{
				display:block
			}
		}
	}
}

