.header {
	margin-top:35px;
	background-color:$grey !important;
	margin-bottom:35px
	position:relative;
	
	&-title {
		float: left;
		margin-left: 25px;
		color:white;
		font-size: 3.3rem;
		text-align:center;
		
		@media (max-width:700px) {
			margin-left:0;
			width:400px;
		}
	}

	a {
		text-decoration: none;
		color: white;
	}
	
	&-navbar {
		float:right;
		height:100%;
		list-style:none;
		margin: 0;
		padding: 0;
		
		.header-item {
			position: relative;
			float:left;
			&-name {
				font-size:16px;
				font-weight:700;
				cursor: pointer;
				padding: 27px 20px;
				color:white;
				text-transform: uppercase;
			}
			
				
			&-drop {
				clear:both;
				list-style: none;
				padding: 22px 22px;
				position:absolute;
				background-color: $blue;
				display:none;
				z-index: 11111;
				left: 0;
				width: 130px;
				
				li {
					margin-bottom :10px;
					
					@media(max-width:700px){
						margin-bottom: 0;
					}
				}
				
				li:last-child {
					margin-bottom :0;
				}

				.pages {
					font-size: 16px;
					
					@media(max-width:700px){
						&:hover {
							color:$grey;
						}
						float:left;
						margin: 0 0 5px 14px;
						
						&:first-child{

						}
					}
				}
				
				@media(max-width:700px){
					top:140px;
					width:100%;
					padding:7px 0;
				}
			}
			

			&:hover{
				background-color: $blue;
			}
			&:hover .header-item-drop{
				display:block
			}
			
			@media(max-width:700px){
				position: static;
				&-name:hover {
					color: $blue;
				}
				&:hover {
					background-color: $grey;
				}
			}
		}
		
		@media(max-width:700px) {
			margin: auto;
			width: 77%;
			float:none;
		}
	}
}