.header {
	height:60px;
	margin-top:35px;
	background-color:$grey !important;
	margin-bottom:35px
	
	&-navbar {
		float:right;
		height:100%;
		list-style:none;
		margin: 0;
		
		.header-item {
			float:left;
			font-size:13px;
			font-weight:700;
			cursor: pointer;
			padding: 22px 22px;
			color:white;
			text-transform: uppercase;
	
			&:hover {
				background-color: $blue;
			}
		}
	}
}

