.contact {
	height:75px;
	width:200px;
	background-color:#ccc;
	margin-bottom:35px;
}

.inputs {
	margin-bottom:35px;
	height: 500px;
	background-color:#ccc;
}

.send {
	height: 35px;
	width:60px;
	background-color:#ccc;
}