.left {
	.news { 
		margin-bottom:35px;
		background-color:#ccc;	
		height: 715px;
	}

	.pagination {
		width: 250px;
		height:50px;
		background-color:#ccc;
	}
}



.right {
	.search {
		background: white !important;
		padding:20px;
		
		.search-input {
			float:left;
			width:60%;
			font-size:13px;
			line-height:30px;
			color:#fff;
			text-shadow: none;
			outline:none;
			border: 0;
			padding: 0 10px;
			background: #343434;
			overflow:hidden;
		}
		.search-button {
			cursor: pointer;
			display:inline-block;
			background-color:#3498db;
			padding:10px 0 0 0;
			font-weight:600;
			color: white;
			height:20px;
			width:30%;
			text-transform: uppercase;
			font-size:11px;
			text-align:center;
			position:relative;
		}

	}

	.about {
		height: 325px;
	}

	.follow {
		height: 275px;
	}

	.popular {
		height:375px;
	}

	.latest {
		height: 375px;
	}

	.topics {
		height: 375px;
	}

	.authors {
		height: 225px;
	}

	.comments {
		height: 275px;
	}
}